.banner-img{
    background:url("../../Assets/images/cool-background.png");
    height: 710px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(100% 0, 100% 90%, 0 95%, 0 0);
    clip-path: polygon(100% 0, 100% 90%, 0 95%, 0 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }
.banner-title {
    font-size: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .banner-title > h3 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .banner-span {
    color: #f7cc53;
  }
  .banner-button {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .banner-button a {
    flex-direction: column;
    text-decoration: none;
    border: 2px solid #f7cc53;
    border-radius: 20px;
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
  }
  .banner-button a:hover {
    background: #f7cc53;
    transition: 1.2s ease;
    color: black;
    border: 2px solid #fff;
  }
  .small-tagline {
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .small-tagline p {
    color: #fff;
    top: 50%;
    opacity: 0.7;
    margin-bottom: 30px;
  }
  .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .social-media > img {
    width: 70px;
  }
    @media (max-width: 640px){
      .banner-title{
        font-size: 25px;
      }
    }